


p {
    color: aqua;
}

h1 {
    color: red;
}

.green{
    color: chartreuse
}

#purple{
    background-color: purple;
    border: 9px;
    /*       top  right   bottom  left  */
    padding: 50px;
    margin: 20px 30px;
    height: 80px;
    width: 100px;
}

#purple:hover{
    background-color: #04AA6D
}

#firstDiv > p {
    background-color: coral;
}

#firstDiv + h3 {
    background-color: crimson;
}

